### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.jfd

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.jfd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.jfd

### VS Code ###
.vscode/
*.jfd

### Mac OS ###
.DS_Store
/target/
*.jfd
